* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    margin:0px;
	font-size: 30px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#wrapper section {
    padding-top:110px;
    padding-bottom:10px;
}

.active {
    display: block;
}

.inactive {
    display:none;
}

.off {
    display:none;
}

.on {
    display:block;
}


/****************************
        Header
****************************/
#header div  {
    float:left;
    clear:none;
    width:25%;
}

#header div:nth-child(2) {
    width:50%;
}

#header div:last-child {
    height: 100px;
}

#header div:last-child div {
    height: auto;
} 

#header {
    overflow:auto;
    position: fixed;
    width:100%;
    top:0;
    background-color: brown;
}


#favourite_button {
    background: url("../img/favouriteNotSelect.png") no-repeat center;
}

#favourited_button {
    background:url("../img/favouriteSelect.png") no-repeat center;
}

#filter_button {
    background:url("../img/searchNotSelect.png") no-repeat center;
}
/****************************
        Navbar menu
****************************/
#navbar {
    position:fixed;
    width:100%;
    bottom:0;
    height: 40px;
}

#navbar ul li { 
height: 40px;
}

#navbar ul {
    display:inline;
    padding:0;
}

#navbar ul li {
    width:24%;
    float:left;
    clear:none;
    list-style: none;
    text-align: center;
/*    background-color: red;*/
}

a[data-role=pagelink] {
    display:block;
}

.activetab {
    /*background-color:blue;*/
    height: 40px;
}

a {
    text-decoration: none;
    font-style: none;
    color:black;
}

#navbar {
background-color: #e5e5e5;
padding-top: 20px;
padding-bottom: 10px;
}

#navbar ul li:first-child .activetab {
    background:url("../img/homeSelect.png") no-repeat center;
}

#navbar ul li:nth-child(2) .activetab {
    background:url("../img/favouriteSelect.png") no-repeat center;
}

#navbar ul li:nth-child(3) .activetab {
    background:url("../img/searchSelect.png") no-repeat center;
}

#navbar ul li:last-child .activetab {
    background:url("../img/settingsSelect.png") no-repeat center;
}

#navbar ul li:first-child {
    background:url("../img/homeNotSelect.png") no-repeat center;
    border-right: 1px solid black;
}

#navbar ul li:nth-child(2) {
    background:url("../img/favouriteNotSelect.png") no-repeat center;
    border-right: 1px solid black;
    
}

#navbar ul li:nth-child(3) {
    background:url("../img/searchNotSelect.png") no-repeat center;
    border-right: 1px solid black;
    
}

#navbar ul li:last-child {
    background:url("../img/settingsNotSelect.png") no-repeat center;
    
}
/****************************
        Home Page
****************************/
#home {
    background-color: #faa3b8;
    height: 100%;
    /*padding-bottom: 75%;*/
}
#home a {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4px;
    text-align: center;
}
/****************************
        Favourites Page
****************************/
#favourite {
    background-color: #fee3a1;
    height: 100%;
    /*padding-bottom: 100%;*/
}
#favourite ul li {
    border-bottom: 4px solid black;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/****************************
        Search Page
****************************/
#search {
    background-color: #91def0;
    height: 100%;
    /*padding-bottom: 90%;*/

}
.searchTxt {
    border-radius: 10px;
    height: 60px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

ul {
    list-style-type: none;
}

#search_results ul li {
    border-bottom: 4px solid black;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/****************************
        Settings Page
****************************/
#settings {
    background-color: #82a882;
    height: 100%;
    overflow:auto;
    /*padding-bottom: 130%;*/
}

#settings a {
    float:left;
    clear: left;
}

/*****************************
        Fonts
*****************************/
nav h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 30%;
}


















