* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    margin:0px;
	font-size: 30px;
    background-color:#91def0;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.wrapper section {
    padding-top:95px;
}

.active {
    display: block;
}

.inactive {
    display:none;
}

.off {
    display:none;
}

.on {
    display:block;
}


/****************************
        Header
****************************/
#header div  {
    float:left;
    clear:none;
    width:25%;
}

#header div:nth-child(2) {
    width:50%;
}

#header div:last-child {
    height: 0px;
}

#header div:last-child div {
    height: auto;
} 

#header {
    overflow:auto;
    position: fixed;
    width:100%;
    top:0;
    background-color: brown;
}

#header_title {
    margin:0;
    padding-top:3px;
    text-align: center;
    display:block;
}

#back_button a {
    text-align: center;
}

#favourite_button {
    background: url("../img/favouriteNotSelect.png") no-repeat center;
}

#favourited_button {
    background:url("../img/favouriteSelect.png") no-repeat center;
}

#filter_button {
    background:url("../img/searchNotSelect.png") no-repeat center;
}

.backBtn {
width: 50%;
}

.addBtn {
width: 100%;
}
/****************************
        Navbar menu
****************************/
#navbar {
    position:fixed;
    width:100%;
    bottom:0;
    height: 80px;
}

#navbar ul {
    display:inline;
    padding:0;
}

#navbar ul li { 
    height: 80px;
    width:24.8%;
    float:left;
    clear:none;
    list-style: none;
    text-align: center;
/*    background-color: red;*/    
}

#navbar ul li a {
    padding-top:20px;
}
a[data-role=pagelink] {
    display:block;
}

.activetab {
    /*background-color:blue;*/
    height: 40px;
}

a {
    text-decoration: none;
    font-style: none;
    color:black;
}

#navbar {
    background-color: #e5e5e5;
/*    padding-top: 20px;*/    
    /*padding-bottom: 10px;*/
}

#navbar ul li.activetab:first-child  {
    background:url("../img/homeSelect.png") no-repeat center;
	background-size: 35%, 35%;
}

#navbar ul li.activetab:nth-child(2)  {
    background:url("../img/favouriteSelect.png") no-repeat center;
	background-size: 35%, 35%;
}

#navbar ul li.activetab:nth-child(3)   {
    background:url("../img/searchSelect.png") no-repeat center;
	background-size: 35%, 35%;
}

#navbar ul li.activetab:last-child  {
    background:url("../img/settingsSelect.png") no-repeat center;
	background-size: 35%, 35%;
}

#navbar ul li:first-child {
    background:url("../img/homeNotSelect.png") no-repeat 50% center;
    background-size:35%, 35%;
    border-right: 1px solid black;
}

#navbar ul li:nth-child(2) {
    background:url("../img/favouriteNotSelect.png") no-repeat 50% center;
    border-right: 1px solid black;
    background-size:35%, 35%;
}

#navbar ul li:nth-child(3) {
    background:url("../img/searchNotSelect.png") no-repeat 50% center;
    border-right: 1px solid black;
    background-size:35%, 35%;
}

#navbar ul li:last-child {
    background:url("../img/settingsNotSelect.png") no-repeat 50% center;
    background-size:35%, 35%;
}

.activetab {
    background-color: rgba(0,0,255,0.1);
}

#navbar ul li a {
margin-top: 30px;
}
/****************************
        Home Page
****************************/
#home {
    background-color: #faa3b8;
    height: 100%;
    padding-bottom: 65%;
}
#home a {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 4px;
    text-align: center;
}
/****************************
        Favourites Page
****************************/
#favourite {
    background-color: #fee3a1;
    height: 100%;
    padding-bottom: 100%;
}
#favourite ul li {
    border-bottom: 4px solid black;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/****************************
        Search Page
****************************/
#search {
    background-color: #91def0;
    height: 100%;
    padding-bottom: 90%;

}
.searchTxt {
    border-radius: 10px;
    height: 60px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
	border: 2px solid black;
}

#drink_search_submit {
border-radius: 10px;
height: 60px;
width: 90%;
margin-left: 5%;
margin-top: 5%;
font-size: 100%;
background-color: aliceblue;
border: 2px solid black;
}

#connector {
border-radius: 10px;
height: 60px;
width: 90%;
margin-left: 5%;
margin-top: 5%;
font-size: 100%;
background-color: aliceblue;
border: 2px solid black;
}

ul {
    list-style-type: none;
}

#search_results ul li {
    border-bottom: 4px solid black;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/****************************
	Make Drink Form
****************************/

input[type=text]
{
 border-radius: 10px;
    height: 60px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
	border: 2px solid black;
}

button
{
 border-radius: 10px;
height: 60px;
width: 90%;
margin-left: 5%;
margin-top: 5%;
font-size: 100%;
background-color: aliceblue;
border: 2px solid black;
}

/****************************
        Settings Page
****************************/
#settings {
    background-color: #82a882;
    height: 100%;
    overflow:auto;
    padding-bottom: 130%;
}

#settings a {
    float:left;
    clear: left;
}
/*****************************
        Drink Page
******************************/
#drink_display img {
    width:10%;
}

/*****************************
        Fonts
*****************************/
nav h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 30%;
}
/**********************************************************************************************************************************************************************
                                            Big phone/small browser dimensions
**********************************************************************************************************************************************************************/
@media all and (max-width:450px) and (max-width:351px) {
/****************************
        Header
****************************/
    #header_title {
        font-size: 30px
    }
/****************************
        Navbar menu
****************************/
    #navbar ul li a {
        font-size: 20px;
    }    
}
/**********************************************************************************************************************************************************************
                                            Average phone Width (is 320px but +30px range for good measure)
**********************************************************************************************************************************************************************/
@media all and (max-width:350px) {

#navbar ul li { 
    height: 80px;
    width:24%;
    float:left;
    clear:none;
    list-style: none;
    text-align: center;
/*    background-color: red;*/    
}

#navbar ul li:first-child {
    background:url("../img/homeNotSelect.png") no-repeat center;
    background-size:75%, 35%;
    border-right: 1px solid black;
}

#navbar ul li:nth-child(2) {
    background:url("../img/favouriteNotSelect.png") no-repeat center;
    border-right: 1px solid black;
    background-size:75%, 35%;
}

#navbar ul li:nth-child(3) {
    background:url("../img/searchNotSelect.png") no-repeat center;
    border-right: 1px solid black;
    background-size:75%, 35%;
}

#navbar ul li:last-child {
    background:url("../img/settingsNotSelect.png") no-repeat center;
    background-size:75%, 35%;
}

#navbar ul li.activetab:first-child  {
    background:url("../img/homeSelect.png") no-repeat center;
	background-size: 75%, 35%;
}

#navbar ul li.activetab:nth-child(2)  {
    background:url("../img/favouriteSelect.png") no-repeat center;
	background-size: 75%, 35%;
}

#navbar ul li.activetab:nth-child(3)   {
    background:url("../img/searchSelect.png") no-repeat center;
	background-size: 75%, 35%;
}

#navbar ul li.activetab:last-child  {
    background:url("../img/settingsSelect.png") no-repeat center;
	background-size: 75%, 35%;
}

#navbar ul li a {
margin-top: 30px;
font-size: 16px;
}

}
